.rating {
  // Box Model
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__relative {
    // Position
    position: relative;
  }

  &__votes {
    // Typography
    font-size: 16px;
    font-weight: bold;

    // Box Model
    margin-right: 10px;
    pointer-events: none;

    &--red {
      color: red;
    }
  }

  &__icon {
    // Box Model
    width: 15px;
    height: 15px;
    margin-right: 5px;

    // Visual
    transition: all 0.3s ease;

    &:hover {
      // Visual
      cursor: pointer;
      transition: all 0.3s ease;
    }

    &:active {
      // Visual
      transition: all 0.1s ease;
      transform: scale(1.2);
    }
    &--up {
      &:hover {
        // Typography
        color: green;
      }
    }
    &--down {
      &:hover {
        // Typography
        color: red;
      }
    }

    &-ghost {
      // Position
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;

      // Visual
      opacity: 0;
      visibility: hidden;

      &:hover {
        pointer-events: none;
      }

      &--up {
        animation: slideTop ease 0.5s;
        color: green;
      }
      &--down {
        animation: slideDown ease 0.5s;
        color: red;
      }
    }
  }
}

@keyframes slideTop {
  25% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    top: -20px;
  }
}

@keyframes slideDown {
  25% {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    top: 20px;
  }
}
